@font-face {
	font-family: "FredokaOne";
	src: url("./fonts/FredokaOne-Regular.ttf");
}

@font-face {
	font-family: "Quicksand";
	src: url("./fonts/Quicksand-VariableFont_wght.ttf");
}

:root {
	--key-font-size: 1.75em;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Quicksand";
	font-size: 2em;
	/* width: 100%;
	height: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: linear-gradient(to right, #00b09b, #49c93d);
	filter: hue-rotate(234deg);
}

.key {
	color: #555555;
	position: relative;
	font-size: var(--key-font-size);
	font-family: "FredokaOne";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5em;
	min-width: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 0.25em;
	border: 1px solid #ffffff;
	border-radius: 0.5em;
	background-color: #ffffff;
	mix-blend-mode: screen;
}

.key-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pressed {
	transform: scale(0.95);
	text-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.streamer {
	border-radius: 10px;
	width: 100%;
}

.streamer-box {
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
	top: 0;
	overflow: hidden;
	mask-image: url("./static/mask.svg");
	mask-size: 400px;
	width: 100%;
	-webkit-mask-image: url("./static/mask.svg");
	-webkit-mask-size: 400px;
}

.streamer-container {
	height: 400px;
	font-size: var(--key-font-size);
	margin: 0.25em;
	overflow: hidden;
	position: relative;
}

.streamers {
	display: flex;
	justify-content: center;
}

#key-updater {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(20px);
	transition: opacity 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

#key-updater .card {
	color: white;
	background-color: rgba(255, 255, 255, 0.25);
	border: solid 2px white;
	display: flex;
	flex-direction: column;
	border-radius: 0.5em;
	font-family: "Nunito";
	padding: 0.5em;
	width: 25em;
	align-items: center;
	vertical-align: middle;
}

.keyslots {
	display: flex;
}

.key-slot {
	position: relative;
	display: inline-block;
	font-family: "FredokaOne";
	text-align: center;
	align-items: center;
	font-size: var(--key-font-size);
	width: 1.5em;
	height: 1em;
	margin: 0.25em;
}

.key-slot::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	transform: translateY(15px);
	background-color: white;
	border-radius: 0.5em;
	transition: background-color 0.5s ease-in-out;
}

button {
	background-color: #11111100;
	border: none;
	color: #ffffff;
	padding: 0.5em;
	font-size: 1em;
	font-family: "FredokaOne";
	border-radius: 0.5em;
	border: solid 4px white;
	margin: 0.25em;
	cursor: pointer;
}

button:hover {
	background-color: #ffffff55;
	color: #ffffff;
}

.stats {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	margin-bottom: 0.5em;
	font-size: 3em;
	font-weight: normal;
	color: white;
}

.edit-keys {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

@keyframes rainbow {
	to {
		filter: hue-rotate(0deg);
	}
	from {
		filter: hue-rotate(360deg);
	}
}

@media screen and (max-width: 1000px) {
	h1 {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 1em;
	}
}

@media screen and (max-width: 400px) {
	body {
		font-size: 1em;
	}
}
